<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog - prywatny blog Martyny !</a></h1>
        </div>

        <div>
            <p>published: 06.02.2019, 12:32</p>
            <h2><a href="">Martyna's first post</a></h2>
            <p>Początki  mogą być trudne, ale nie należy się zniechęcać. Programowanie daje dużo satysfakcji. </p>
        </div>

        <div>
            <p>published: 06.02.2019, 12:34</p>
            <h2><a href="">Martyna's second post</a></h2>
            <p>Tak wygląda moja prawdziwa strona w internecie, a Ty masz swoją stronkę? Nie sądze. Nie masz, tylko dla innych robisz, a ja mam dla siebie XD Pozdro dla kumatych !</p>
        </div>
    </body>
</html>
